body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
.bg-blue {
  
  background-image: linear-gradient(90deg,#0096a2, #008aa2, #0064a2); /* Standard syntax (must be last) */
  background-color:#0096a2!important; /* For browsers that do not support gradients */
}
nav.navbar {
  padding: 0 1rem;
}
.title {
  padding: 0 15px;
}
.banner img {
  min-height: 180px;
}
.fa-search{
  margin-left: 3px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}
/* End Header */
/* Navigation Bar */
.main-navigation {
  margin-top: 66px;
  text-align: center;
  background-color: #20415b;
}
.main-navigation ul, .footer-navigation ul {
  margin-bottom: 0;
  
}
.main-navigation ul li {

  padding: 10px;
}
.footer-navigation ul li {

  padding: 10px 1px;
}
.main-navigation ul li.active {
  background-color: #0371b4;
}

.main-navigation ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.footer-navigation ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 1px;
}
.footer-navigation-1 ul li a {
  color: #fff;
  text-decoration: none;
  padding: 4px 0;
}

/* End Navigation Bar */

/* Banner */
.banner{
  position: relative;
}
.content {
  height: auto;
  padding: 0 !important;
  overflow: hidden;
  
}
ol.breadcrumb {
  background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item::before{
  content: ">"
}


/* End banner */

/* Icon section */

.section {
  padding-top: 15px;
}
.h5 {
  color: #35536a;
}
span.icon {
  color: #82b3d2;
}
.border-right {
  border-right: 1px solid #deded8 !important;
}
.border-left {
  border-left: 1px solid #deded8 !important;
}
.h6{
  padding-top: 10px;
}
/* End Icon Section */

/* help section */
.brd-none {
  border: none !important;
}
.rounded {
  border-radius: .25rem!important;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.accordion {
  padding-bottom: 15px;
}
.color-main {
  color: #555 !important;
}
/* .pge-shadow {
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.1) !important;
} */
.text-underline-none, .text-underline-none:hover {
  text-decoration: none;
}
.color-gray-dark {
  color: #777 !important;
}

.medium {
  font-size: 90%;
  font-weight: 400;
}
.bg-primary {
  background-color: #0371b4 !important;
}
/* End help section */

/* Footer */
/*footer {
  background-image: url(/assets/img/wind-mill.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}*/
/* End Footer */
@media (min-width: 0){
  .mb-20 {
    margin-bottom: 1.42857rem !important;
  }
  .mb-10 {
    margin-bottom: 12px !important;
  }
  .pa-0 {
    padding: 0 !important;
  }
  .pa-30 {
    padding: 2.14286rem !important;
  }
  .py-10 {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
  }
  .py-15 {
    padding: 15px 0 !important;
  }
  .py-20 {
    padding-top: 1.42857rem !important;
    padding-bottom: 1.42857rem !important;
  }
  .px-30 {
    padding-left: 2.14286rem !important;
    padding-right: 2.14286rem !important;
  } 
  
}

@media (max-width: 575px){
  .navbar-brand {
    float: right;
  }
  header .main-navigation {
    text-align: left;
  }
  header .main-navigation .list-inline-item {
    display: block;
  }
  header .main-navigation.drawer-close {
    display: none;
  }
  header .main-navigation.drawer-open {
    display: block;
  }
  .bg-blue {
  
    background-image: linear-gradient( #0064a2, #008aa2, #0096a2); /* Standard syntax (must be last) */
  }
  main > section:nth-child(1){
    margin-top: 66px;
  }
}

@media (min-width: 576px){
  header .main-navigation.fixed-top {
    position: relative;
  }
}

